<h1>Add Patient</h1>
<hr>
<%= form_for @patient do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true, autofocus: true, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, autofocus: true, placeholder: "Last Name" %>
  </div>
    <%= f.submit %>
<% end %>
