<h1>Add Appointment</h1>
  <%= form_for [@patient, @appointment] do |f| %>
    <%= f.label :doctor %>
    <%= f.select :doctor_id, @doctors.collect { |doctor| [doctor.full_name, doctor.id] } %>
    <br>
    <%= f.label :date %>
    <%= f.text_field :date, required: true, placeholder: "Date" %>
    <br>
    <%= f.submit %>
  <% end %>
